/* Main Styles */

/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Single+Day&display=swap');

:root {
    --main-font: 'Single Day', cursive;
}

* {
    font-family: var(--main-font);
}

html, body {
    scroll-behavior: smooth;
    margin-top: 2.5%;
    overflow-x:hidden;
    background-color:darkgray;
    height:500vh;
}


.card-body {
    position: relative;
}

.card-title > img {
    width: 275px;
}

.read-btn {
    display: none;
    position: absolute;
    top:50%;
    left:50px;
    transform: translateX(-50%);
    width:200px;
    opacity:1;
    background-color: rgba(0, 0, 0, 0.5);
    transform:scale(1.1);
    animation: Animation 0.5s ease infinite alternate;
}

.card_1:hover .read-btn,
.card_2:hover .read-btn,
.card_3:hover .read-btn,
.card_4:hover .read-btn {
    display: block;
}

.card_1:hover,
.card_2:hover,
.card_3:hover,
.card_4:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px 10px grey;
    transform: scale(1.05);
}

.card_1,
.card_2,
.card_3,
.card_4 {
    box-shadow:5px 5px 10px 10px grey;
}
  
.navbar {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 0;
    position: fixed; /* Fixed position to stick to the top */
    width: 99.9%; /* Make navbar full width */
    top: 0; /* Position at the top of the page */
    z-index: 1000; /* Ensure it's above other elements */
    padding-left:15px;
    margin-left:1.05px;
    background: linear-gradient(to right, grey, darkgray, grey);
    animation: Animation 0.5s ease infinite alternate;
}

.navbar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.5); /* Adjust the alpha value for transparency */
    z-index: -1;
}

.nav-link {
    font-size:23px;
    transition: transform 0.3s ease, font-weight 0.3s ease;
}

.nav-link:hover {
    transform:scale(1.1);
    font-weight:1000;
}

.navbar-brand {
    font-size:25px;
    transition: transform 0.3s ease, font-weight 0.3s ease;
}

.navbar-brand:hover {
    transform:scale(1.3);
    font-weight: 900;
}

@keyframes Animation {
    from {
        transform: translateX(-2px);
    }
    to {
        transform: translateX(2px);
    }
}

h1 {
    margin-top:100px;
}

#description {
    font-size:23px;
    animation: Animation 0.5s ease infinite alternate;
}

input[name="search"] {
    width:600px;
    height:50px;
}

.error_msg_if_no_books_found {
    font-size:25px;
}

.result_found_msg {
    font-size:25px;
    z-index:800;
    height:5000px;
    vertical-align:top;
}

.categories {
    height:150px;
    background-color:orange;
    box-shadow:5px 5px 10px 10px grey;
    overflow:hidden;
    position:relative;
    border:1px solid black;
    border-radius:5%;
    box-sizing:border-box;
    padding:10px;
}

.categories:hover {
    transform:scale(1.05);
    cursor:pointer;
}

h3[name="category-text"]
{
    font-size:23px;
    animation: Animation 0.5s ease infinite alternate;
    margin:0;
    transform:translate(-50%, -50%);
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-50px;
}

.books {
    height:150px;
    background-color:green;
    box-shadow:5px 5px 10px 10px grey;
    overflow:hidden;
    position:relative;
    border:1px solid black;
    border-radius:5%;
    box-sizing:border-box;
    padding:10px;
}

.books:hover {
    transform:scale(1.05);
    cursor:pointer;
}

h3[name="book-text"] 
{
    font-size:23px;
    animation: Animation 0.5s ease infinite alternate;
    margin:0;
    transform:translate(-50%, -50%);
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-40px;
}

.authors {
    height:150px;
    background-color:red;
    box-shadow:5px 5px 10px 10px grey;
    overflow:hidden;
    position:relative;
    border:1px solid black;
    border-radius:5%;
    box-sizing:border-box;
    padding:10px;
}

.authors:hover {
    transform:scale(1.05);
    cursor:pointer;
}

h3[name="author-text"] {
    font-size:23px;
    animation: Animation 0.5s ease infinite alternate;
    margin:0;
    transform:translate(-50%, -50%);
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-40px;
}

.contact-us {
    height:150px;
    background-color:blue;
    box-shadow:5px 5px 10px 10px grey;
    overflow:hidden;
    position:relative;
    border:1px solid black;
    border-radius:5%;
    box-sizing:border-box;
    padding:10px;
}

.contact-us:hover {
    transform:scale(1.05);
    cursor:pointer;
}

h3[name="contact-us-text"] 
{
    font-size:23px;
    animation: Animation 0.5s ease infinite alternate;
    margin:0;
    transform:translate(-50%, -50%);
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-50px;
}

div[slide="carousel"] 
{
    width: 800px;
    height: 500px;
    box-sizing: border-box;
    box-shadow: -10px 0px 20px -10px rgba(0, 0, 0, 0.8), 10px 0px 20px -10px rgba(0, 0, 0, 0.8);
}

img[slide-image-index="1"],
img[slide-image-index="2"],
img[slide-image-index="3"] 
{
    width:800px;
    height:500px;
}

h3[name="view-more-books-link"] 
{
    font-size:23px;
    padding:5px;
    border:1px solid black;
    border-radius:2.5%;
    transition:transform 0.3s ease;
    width:500px;
    user-select:none;
    opacity:1;
    background-color:unset;
}

h3[name="view-more-books-link"]:hover 
{
    cursor:pointer;
    transform:scale(1.05);
    box-shadow: 5px 5px 10px 10px grey;
}