/* Main Styles */

/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Single+Day&display=swap');

:root {
    --main-font: 'Single Day', cursive;
}

* {
    font-family: var(--main-font);
}

html {
    scroll-behavior: smooth;
    margin-top: 2.5%;
    overflow-x:hidden;
}

body {
    background-color:darkgray;
}

.card-body {
    position: relative;
}

.card-title > img {
    width: 275px;
}

.read-btn {
    display: none;
    position: absolute;
    top:50%;
    left:50px;
    transform: translateX(-50%);
    width:200px;
    opacity:1;
    background-color: rgba(0, 0, 0, 0.5);
    transform:scale(1.1);
    animation: Animation 0.5s ease infinite alternate;
}

.card_1:hover .read-btn,
.card_2:hover .read-btn,
.card_3:hover .read-btn,
.card_4:hover .read-btn {
    display: block;
}

.card_1:hover,
.card_2:hover,
.card_3:hover,
.card_4:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px 10px grey;
    transform: scale(1.05);
}
  
.navbar {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 0;
    position: fixed; /* Fixed position to stick to the top */
    width: 99.9%; /* Make navbar full width */
    top: 0; /* Position at the top of the page */
    z-index: 1000; /* Ensure it's above other elements */
    padding-left:15px;
    margin-left:1.05px;
    background: linear-gradient(to right, grey, darkgray, grey);
    animation: Animation 0.5s ease infinite alternate;
}

.nav-link {
    font-size:23px;
    transition: transform 0.3s ease, font-weight 0.3s ease;
}

.nav-link:hover {
    transform:scale(1.1);
    font-weight:1000;
}

.navbar-brand {
    font-size:25px;
    transition: transform 0.3s ease, font-weight 0.3s ease;
}

.navbar-brand:hover {
    transform:scale(1.3);
    font-weight: 900;
}

@keyframes Animation {
    from {
        transform: translateX(-2px);
    }
    to {
        transform: translateX(2px);
    }
}

h1 {
    margin-top:100px;
}

#description {
    font-size:23px;
    animation: Animation 0.5s ease infinite alternate;
}
